@model BookCave.Models.ViewModels.OrderListViewModel

<div class="container">
	<div class="row">
		<div class="table-responsive">
            <h1 class="entry-title"><span>Mínar pantanir</span> </h1>
            <hr/>
            
            @foreach(var order in @Model.Orders)
            {
                <div>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>@order.Id</th>
                            <th>Titill bókar</th>
                            <th>Magn</th>
                            <th>Einingarverð</th>
                            <th>Samanlagt verð</th>
                        </tr>
                        </thead>
                        <tbody>
                            @foreach (var book in order.Books)
                            {
                                <tr>
                                    <td></td>
                                    <td>@book.Name</td>
                                    <td>@book.Copies</td>
                                    <td>@book.Price</td>
                                    <td>@book.PriceSum</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <p>Heildarverð pöntunar: @order.TotalPrice</p>
                </div>
            }
           
            <a asp-controller="Account" asp-action="Profile" class="btn btn-primary">Til baka í mínar síður</a>
        </div>
	</div>
</div>