@model BookCave.Models.ViewModels.CheckoutViewModel

<h1>Greiðsluupplýsingar</h1> 
</br>
<form class="form-horizontal" asp-controller="Order" asp-action="Pay" method="POST">
  <fieldset>

  <!-- Form Name -->
  <legend>Upplýsingar um viðtakanda</legend>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Fullt nafn</label>  
      <div class="col-md-4">
        <input type="text" asp-for="ReceiverName" class="form-control input-md" value="@Model.User.FirstName @Model.User.LastName"/>
        <span id="textinput" asp-validation-for="ReceiverName"></span><br>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Símanúmer</label>  
      <div class="col-md-4">
          <input type="text" asp-for="ReceiverPhoneNumber" class="form-control input-md" value="@Model.User.PhoneNumber"/>
          <span id="textinput" asp-validation-for="ReceiverPhoneNumber"></span><br>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Heimilisfang</label>  
      <div class="col-md-4">
          <input type="text" asp-for="ReceiverAddress" class="form-control input-md" value="@Model.User.Address"/>
          <span id="textinput" asp-validation-for="ReceiverAddress"></span><br>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Bær/Borg</label>  
      <div class="col-md-4">
          <input type="text" asp-for="ReceiverCity" class="form-control input-md" value="@Model.User.City"/>
          <span id="textinput" asp-validation-for="ReceiverCity"></span><br>
      </div>
    </div>
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Póstnúmer</label>  
      <div class="col-md-4">
          <input type="text" asp-for="ReceiverZIP" class="form-control input-md" value="@Model.User.ZIP"/>
          <span id="textinput" asp-validation-for="ReceiverZIP"></span><br>
      </div>
    </div>

    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="selectbasic">Land</label>
      <div class="col-md-4">
        <select asp-for"ReceiverCountryId" id="selectbasic" name="selectbasic" class="form-control" value="@Model.User.CountryId">
            <option value="1">Ísland</option>
            <option value="2">Danmörk</option>
            <option value="3">Noregur</option>
            <option value="4">Svíþjóð</option>
            <option value="5">Finnland</option>
            <option value="6">England</option>
            <option value="7">Bandaríkin</option>
          </select>
        <span asp-validation-for="ReceiverCountryId"></span><br/>
      </div>
    </div>

    <!-- Form Name -->
    <legend>Upplýsingar um greiðanda</legend>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Fullt nafn</label>  
      <div class="col-md-4">
          <input type="text" asp-for="PayerName" class="form-control input-md" value="@Model.User.FirstName @Model.User.LastName"/>
          <span id="textinput" asp-validation-for="PayerName"></span><br>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Símanúmer</label>  
      <div class="col-md-4">
          <input type="text" asp-for="PayerPhoneNumber" class="form-control input-md" value="@Model.User.PhoneNumber"/>
          <span id="textinput" asp-validation-for="PayerPhoneNumber"></span><br>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Heimilisfang</label>  
      <div class="col-md-4">
          <input type="text" asp-for="PayerAddress" class="form-control input-md" value="@Model.User.Address"/>
          <span id="textinput" asp-validation-for="PayerAddress"></span><br>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Bær/Borg</label>  
      <div class="col-md-4">
          <input type="text" asp-for="PayerCity" class="form-control input-md" value="@Model.User.City"/>
          <span id="textinput" asp-validation-for="PayerCity"></span><br>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Póstnúmer</label>  
      <div class="col-md-4">
          <input type="text" asp-for="PayerZIP" class="form-control input-md" value="@Model.User.ZIP"/>
          <span id="textinput" asp-validation-for="PayerZIP"></span><br>
      </div>
    </div>

    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="selectbasic">Land</label>
      <div class="col-md-4">
        <select asp-for"PayerCountryId" id="selectbasic" name="selectbasic" class="form-control" value="@Model.User.CountryId">
            <option value="1">Ísland</option>
            <option value="2">Danmörk</option>
            <option value="3">Noregur</option>
            <option value="4">Svíþjóð</option>
            <option value="5">Finnland</option>
            <option value="6">England</option>
            <option value="7">Bandaríkin</option>
          </select>
        <span asp-validation-for="PayerCountryId"></span><br/>
      </div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton"></label>
      <div class="col-md-4">
        <input type="submit" name="Submit" value="Halda áfram í greiðslu" class="btn btn-primary"/>
        <!--a asp-controller="Order" asp-action="ReviewOrder" class="btn btn-primary">Halda áfram í greiðslu</a-->
        <a asp-controller="Cart" asp-action="Index" class="btn btn-primary">Til baka í körfu</a>
      </div>
    </div>

  </fieldset>
</form>
