@model List<BookCave.Models.ViewModels.BookListViewModel>
<h1 class="carousel-heading frontpage-heading">Nýjar bækur</h1>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <div id="imageCarousel" class="carousel slide" data-interval="10000"
                     data-ride="carousel" data-pause="hover" data-wrap="true">

                    <ol class="carousel-indicators">
                        <li data-target="#imageCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#imageCarousel" data-slide-to="1"></li>
                        <li data-target="#imageCarousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                @for (var i = 0; i < 6;i++)
                                {
                                    <div class="col-xs-2">
                                    <img src=@Model[i].Image class="img-responsive">
                                    <div class="frontpage-caption">
                                        <h4>@Model[i].Name</h4>
                                        <p>@Model[i].Date</p>
                                    </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                @for (var i = 6; i < 12;i++)
                                {
                                    <div class="col-xs-2">
                                    <img src=@Model[i].Image class="img-responsive">
                                    <div class="frontpage-caption">
                                        <h4>@Model[i].Name</h4>
                                        <p>@Model[i].Date</p>
                                    </div>
                                    </div>
                                }
                            </div>
                        </div>
                            
                    </div>
                </div>
            </div>

                    <a href="#imageCarousel" class="carousel-control left" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a href="#imageCarousel" class="carousel-control right" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>

            </div>
    <br/>
    <br/>
    <br/>
    <h1 class="carousel-heading frontpage-heading">Vinsælar bækur</h1>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <div id="imageCarousel" class="carousel slide" data-interval="10000"
                     data-ride="carousel" data-pause="hover" data-wrap="true">

                    <ol class="carousel-indicators">
                        <li data-target="#imageCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#imageCarousel" data-slide-to="1"></li>
                        <li data-target="#imageCarousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                @for (var i = 0; i < 6;i++)
                                {
                                    <div class="col-xs-2">
                                    <img src=@Model[i].Image class="img-responsive">
                                    <div class="frontpage-caption">
                                        <h4>@Model[i].Name</h4>
                                        <p>@Model[i].Price</p>
                                    </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                @for (var i = 6; i < 12;i++)
                                {
                                    <div class="col-xs-2">
                                    <img src=@Model[i].Image class="img-responsive">
                                    <div class="frontpage-caption">
                                        <h4>@Model[i].Name</h4>
                                        <p>@Model[i].Price</p>
                                    </div>
                                    </div>
                                }
                            </div>
                        </div>
                            
                    </div>
                </div>
            </div>

                    <a href="#imageCarousel" class="carousel-control left" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a href="#imageCarousel" class="carousel-control right" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>

            </div>
        </div>
    </div>
    
</div>


