@model List<BookCave.Models.ViewModels.BookDetailsViewModel>

<div class="container">
	<div class="row">
		<div class="table-responsive">
            <h1 class="entry-title"><span>Yfirlit á pöntun</span></h1>
            <hr/>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th></th>
                    <th>Titill bókar</th>
                    <th>Magn</th>
                    <th>Dagsetning</th>
                    <th>Verð</th>
                </tr>
                </thead>
                <tbody>
                    @foreach (var book in @Model)
                    {
                        <tr>
                            <td>@book.Id</td>
                            <td>@book.Image</td>
                            <td>@book.Name</td>
                            <td>@book.Copies</td>
                            <td>Eitthvað hér???</td>
                            <td>@book.Price</td>
                        </tr>
                    }
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Heildarverð</h5></td>
                        <td class="text-right"><h5><strong>6.340 kr.</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Sendingarkostnaður</h5></td>
                        <td class="text-right"><h5><strong>500 kr.</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Lokaupphæð</h3></td>
                        <td class="text-right"><h3><strong>6.840 kr.</strong></h3></td>
                    </tr>
                </tbody>
            </table>
            <a asp-controller="Home" asp-action="Confirmation" class="btn btn-primary">Greiða fyrir pöntun</a>
            <a asp-controller="Home" asp-action="Cart" class="btn btn-primary">Til baka í körfu</a>
        </div>
	</div>
</div>