@model List<BookCave.Models.ViewModels.BookListViewModel>
<div class="row">
    <div class="container">
            <div class="col-md-9 col-sm-12">
                    @foreach(var book in @Model)
                    {
                        <div class="col-xs-4">
                        <span class="thumbnail">
                            <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id"><img src="@book.Image" alt="cover"></a>
                            <h4>@book.Name</h4>
                            <hr class="line">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <p class="price">@book.Price kr.</p>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id"><button class="btn btn-success right">Skoða nánar</button></a>
                                </div>
                            </div>
                        </span>
                        </div>
                    }
                </div>  
            </div>
    </div>
</div>
    
    
    
    
